/*RESETEO DE MARGENES*/

* {
    margin: 0;
    padding: 0;
}

/*CONEXIÓN CON GOOGLE FONTS, FAMILIA ROBOTO*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

/***ESTRUCTURA***/

html {
    font-family: 'Roboto', sans-serif;

}

/*HEADER*/

.encabezado {
    background-color: #606c38;
    height: 30vh;
    position: relative;
    display: grid;
    }

.logo {
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;

  

}


